* {
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: flex;
    justify-content: space-around;
}

nav li a {
    display: flex;
    justify-content: space-around;
    color: black;
}
