<div id="shopping">
    <div id="drug-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Product Of</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drug in drugs" ng-click="selected(drug.drugID)">
                    <td>{{drug.drugID}}</td>
                    <td>{{drug.drugName}}</td>
                    <td>{{drug.productOf}}</td>
                    <td>{{drug.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id=" cart-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Product Of</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Shippment</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drug in cartList">
                    <td>{{drug.drugID}}</td>
                    <td>{{drug.drugName}}</td>
                    <td>{{drug.productOf}}</td>
                    <td>{{drug.price}}</td>
                    <td><input type="number" ng-model="drug.amount" min="1" max="100"></td>
                    <!-- <td><input type="number" ng-model="drug.shippment" min="1" max="100"></td> -->
                    <!-- checkbox -->
                    <td><input type="checkbox" ng-model="drug.shippment" ng-true-value="100" ng-false-value="0"></td>
                    <td>{{drug.price * drug.amount + drug.shippment}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td id="total" colspan="6">{{totalSum()}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
