<div id="drug-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Product Of</th>
                <th>Price</th>
            </tr>
        </thead>
    </table>
</div>
<div id="cart-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Product Of</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Shippment</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td id="total" colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>
