<div>
    <!-- <h1>aguttridge0</h1>
    <h1>bCZfGEr</h1> -->
    <!-- <form> -->
    <!-- <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" /> -->
    <input ng-model="username" type="text" placeholder="Username" />
    <input ng-model="pass" type="text" placeholder="Password" />
    <select ng-init="user" ng-model="role" ng-options="option for option in ['user', 'admin']"></select>
    <!-- <input type="submit" value="Login" /> -->
    <button ng-click="login()">Login</button>
    <!-- </form> -->
</div>
