<div id="order-table">
    <table>
        <thead>
            <th>
            <th>ID</th>
            <th>Name</th>
            <th>Product Of</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Shippment</th>
            <th>Total</th>
            <th>Option</th>
            </th>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td id="total" colspan="6"></td>
            </tr>
    </table>
</div>
